:root {
  --black: #000;
  --blue-light: #c4e1e7;
  --white: #ffff;
  --blue: #77c3cf;

}

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-areas:
    "HEAD HEAD HEAD HEAD"
    "NAV NAV NAV NAV"
    "SPON SPON SPON SPON"
    "DESC DESC DESC DESC"
    "MAIN MAIN MAIN MAIN"
    "GALL GALL GALL GALL"
    "CONT CONT FORM FORM"
    "FOOT FOOT FOOT FOOT";
  font-family: 'Montserrat', sans-serif;
}

.H {
  color: var(--white);
  grid-area: HEAD;
  background-color: var(--black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
}

.header-contacts {
  display: flex;
  gap: 50px;
}

.header-contacts-items {
  display: flex;
  justify-content: center;

}
.header-socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header-socials-items {
  width: 20%;
  display: flex;
  justify-content: center;
}

.N {
  grid-area: NAV;
  background-color: var(--blue-light);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#logo {
  height: 180%;
}
#FB{
    width: 18%;
    height: 20%;
    display: inline-block;
    padding: 2%;
    background-image: url('https://cdn-icons-png.flaticon.com/512/145/145802.png');
    background-size:100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    text-decoration: none;
}
#IG{
  width: 18%;
  height: 20%;
  display: inline-block;
  padding: 2%;
  background-image: url('https://cdn-icons-png.flaticon.com/512/174/174855.png');
  background-size:100%; 
  background-position: center; 
  background-repeat: no-repeat; 
  text-decoration: none;
}
#W{
    width: 18%;
    height: 20%;
    display: inline-block;
    padding: 2%;
    background-image: url('https://cdn-icons-png.flaticon.com/512/174/174879.png');
    background-size:100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    text-decoration: none;
}
.N-V{
  visibility:hidden;
}
.nav-Log{
width: 8%;
}
li{
  text-decoration: none;
  color: black;
}
.nav-list {
  
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}
.Nav-a{
  text-decoration: none;
  color: var(--black);
}


.Rela {
  grid-area: SPON;
}



.Desc {
  grid-area: DESC;
}

.FOR {
  grid-area: FORM;
}

.C {
  grid-area: CONT;
}

.F {
  grid-area: FOOT;


}

.Gallery {
  grid-area: GALL;
}
.M {
  grid-area: MAIN;
  width: 80%;
  height: 20%;
  display: flex;
}
#Serv{
 width: 100%;
 height: 100%;
 flex-wrap: nowrap;
 overflow:scroll;

}

#Serv::-webkit-scrollbar {
  width: 10px; /* Ancho de las barras de desplazamiento */
}

#Serv::-webkit-scrollbar-track {
  background-color: transparent; /* Color de fondo de la pista de desplazamiento */
}

#Serv::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color del "pulgar" de la barra de desplazamiento */
  border: none; /* Borde del "pulgar" */
}
.ServCard{
  flex: 1 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.DirL{
  display: flex;
}
